<div class="sg-patterns">
  <h1>Global</h1>
  <div id="atoms-colors" class="sg-pattern">
    <h2 class="sg-pattern-head">Colors</h2>
    <div class="sg-pattern-body">
      <ul class="sg-colors">
        <% @colors.each do |color| %>
        <li>
          <span class="sg-swatch" style="<%= "background: ##{color[:hex]}" %>"></span>
          <span class="sg-label"><%= "##{color[:hex].upcase}" %><br/><%= "#{color[:label]}" %></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="atoms-fonts" class="sg-pattern">
    <h2 class="sg-pattern-head">Fonts</h2>
    <div class="sg-pattern-body">
    <% if @brand == "global" %>
      <p>Primary font: Arial, sans-serif;</p>
      <p><em>Primary font italic: Arial, sans-serif;</em></p>
      <p><strong>Primary font bold: Arial, sans-serif;</strong></p>
      <p><strong><em>Primary font bold-italic: Arial, sans-serif;</em></strong></p>
    <% elsif @brand == "tera" %>
      <p>Primary font: "Arial", sans-serif;</p>
      <p><em>Primary font italic: Arial, sans-serif;</em></p>
      <p><strong>Primary font bold: Arial, sans-serif;</strong></p>
      <p><strong><em>Primary font bold-italic: Arial, sans-serif;</em></strong></p>
      <p class="font-secondary">Secondary font: 'serif6_beta_rgregular', Times, serif;</p>
      <p class="font-secondary"><em>Secondary font italic: 'serif6_beta_rgitalic', Times, serif;</em></p>
      <p class="font-secondary"><strong>Secondary font bold: 'serif6_beta_rgbold', Times, serif;</strong></p>
    <% elsif @brand == "zmr" %>
      <p>Primary font: Arial, sans-serif;</p>
      <p><em>Primary font italic: Arial, sans-serif;</em></p>
      <p><strong>Primary font bold: Arial, sans-serif;</strong></p>
      <p><strong><em>Primary font bold-italic: "Arial", sans-serif;</em></strong></p>
      <p class="font-secondary">Secondary font: "franchiseregular", Arial, sans-serif;</p>
      <p class="font-secondary"><em>Secondary font italic: "franchiseregular", Arial, sans-serif;</em></p>
      <p class="font-secondary"><strong>Secondary font bold: "franchiseregular", Arial, sans-serif;</strong></p>
      <p class="font-secondary"><strong><em>Secondary font bold-italic: "franchiseregular", Arial, sans-serif;</em></strong></p>
    <% end %>
    </div>
  </div>
  <div id="atoms-animations" class="sg-pattern">
    <h2 class="sg-pattern-head">Animations</h2>
    <div class="sg-pattern-body">
      <div class="demo-animate animate-fade"><strong>Fade:</strong> Duration: 0.3s Easing: ease-in-out (Hover to see effect)</div>
      <div class="demo-animate animate-move">
        <div class="demo-shape"></div>
        <strong>Movement:</strong> Duration: 0.8s Easing: ease-in-out (Hover to see effect)
      </div>
    </div>
  </div>
  <h1>Text</h1>
  <div id="atoms-headings" class="sg-pattern">
    <h2 class="sg-pattern-head">Headings</h2>
    <div class="sg-pattern-body">
      <h1>Heading Level 1</h1>
      <h2>Heading Level 2</h2>
      <h3>Heading Level 3</h3>
      <h4>Heading Level 4</h4>
      <h5>Heading Level 5</h5>
      <h6>Heading Level 6</h6>
    </div>
  </div>
  <div id="atoms-paragraph" class="sg-pattern">
    <h2 class="sg-pattern-head">Paragraph</h2>
    <div class="sg-pattern-body">
      <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
      <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
    </div>
  </div>
  <div id="attoms-blockquote" class="sg-pattern">
    <h2 class="sg-pattern-head">Blockquote</h2>
    <div class="sg-pattern-body">
      <blockquote>
        <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
      </blockquote>
    </div>
  </div>
  <div id="atoms-inline-elements" class="sg-pattern">
    <h2 class="sg-pattern-head">Inline Elements</h2>
    <div class="sg-pattern-body">
      <p><a href="#">This is a test link</a></p>
      <p><strong>Strong is used to indicate strong importance</strong></p>
      <p><em>This text has added emphasis</em></p>
      <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
      <p>The <i>i element</i> is text that is set off fromt he normal text</p>
      <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
      <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
      <p><s>This text has a strikethrough</s></p>
      <p>Superscript <sup>&reg;</sup></p>
      <p>Subscript for things like H<sub>2</sub>O</p>
      <p><small>This small text is small for fine print, etc.</small></p>
      <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
      <p>Keyboard input: <kbd>Cmd</kbd></p>
      <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
      <p><cite>This is a citation</cite></p>
      <p>The <dfn>dfn element</dfn> indicates a definition.</p>
      <p>The <mark>mark element</mark> indicates a highlight</p>
      <p><code>This is what inline code looks like.</code></p>
      <p><samp>This is sample output from a computer program</samp></p>
      <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
    </div>
  </div>
  <div id="atoms-time" class="sg-pattern">
    <h2 class="sg-pattern-head">Time</h2>
    <div class="sg-pattern-body">
      <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time>
    </div>
  </div>
  <div id="atoms-preformatted-text" class="sg-pattern">
    <h2 class="sg-pattern-head">Preformatted Text</h2>
    <div class="sg-pattern-body">
      <pre>   
P R E F O R M A T T E D T E X T
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~ 
</pre>
    </div>
  </div>
  <div id="atoms-hr" class="sg-pattern">
    <h2 class="sg-pattern-head">Hr</h2>
    <div class="sg-pattern-body">
      <hr>
    </div>
  </div>
  <h1>Lists</h1>
  <div id="atoms-unordered" class="sg-pattern">
    <h2 class="sg-pattern-head">Unordered</h2>
    <div class="sg-pattern-body">
      <ul>
        <li>This is a list item in an unordered list</li>
        <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
        <li>
        Lists can be nested inside of each other
          <ul>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an unordered list</li>
          </ul>
        </li>
        <li>This is the last list item</li>
      </ul>
    </div>
  </div>
  <div id="atoms-ordered" class="sg-pattern">
    <h2 class="sg-pattern-head">Ordered</h2>
    <div class="sg-pattern-body">
      <ol>
        <li>This is a list item in an ordered list</li>
        <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
        <li>
        Lists can be nested inside of each other
          <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list</li>
          </ol>
        </li>
        <li>This is the last list item</li>
      </ol>
    </div>
  </div>
  <div id="atoms-definition" class="sg-pattern">
    <h2 class="sg-pattern-head">Definition</h2>
    <div class="sg-pattern-body">
      <dl>
        <dt>Definition List</dt>
        <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
        <dt>This is a term.</dt>
        <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
        <dt>Here is another term.</dt>
        <dd>And it gets a definition too, which is this line.</dd>
        <dt>Here is term that shares a definition with the term below.</dt>
        <dd>And it gets a definition too, which is this line.</dd>
      </dl>
    </div>
  </div>
  <h1>Forms</h1>
  <div id="atoms-text-fields" class="sg-pattern">
    <h2 class="sg-pattern-head">Text Fields</h2>
    <div class="sg-pattern-body">
      <fieldset>
        <div>
          <label for="text">Text Input <abbr title="Required">*</abbr></label>
          <input id="text" type="text" placeholder="Text Input">
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" type="password" placeholder="Type your Password">
        </div>
        <div>
          <label for="webaddress">Web Address</label>
          <input id="webaddress" type="url" placeholder="http://yoursite.com">
        </div>
        <div>
          <label for="emailaddress">Email Address</label>
          <input id="emailaddress" type="email" placeholder="name@email.com">
        </div>
        <div>
          <label for="search">Search</label>
          <input id="search" type="search" placeholder="Enter Search Term">
        </div>
        <div>
          <label for="number">Number Input <abbr title="Required">*</abbr></label>
          <input id="number" type="number" placeholder="Enter a Number" pattern="[0-9]*">
        </div>
        <div>
          <label for="textarea">Textarea</label>
          <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
        </div>
        <div>
          <label for="errortext" class="error">Error Input</label>
          <input id="errortext" class="is-error" type="text" placeholder="Text Input">
        </div>
        <div>
          <label for="validtext" class="valid">Valid</label>
          <input id="validtext" class="is-valid" type="text" placeholder="Text Input">
        </div>
      </fieldset>
    </div>
  </div>
  <div id="atoms-select-menu" class="sg-pattern">
    <h2 class="sg-pattern-head">Select Menu</h2>
    <div class="sg-pattern-body">
      <fieldset>
        <div>
          <label for="select">Select</label>
          <select id="select">
            <optgroup label="Option Group 1">
              <option>Option One</option>
              <option>Option Two</option>
              <option>Option Three</option>
            </optgroup>
            <optgroup label="Option Group 2">
              <option>Option Four</option>
              <option>Option Five</option>
            </optgroup>
            <option>Option Six</option>
          </select>
        </div>
      </fieldset>
    </div>
  </div>
  <div id="atoms-checkbox" class="sg-pattern">
    <h2 class="sg-pattern-head">Checkbox</h2>
    <div class="sg-pattern-body">
      <fieldset>
        <ul class="optionlist">
          <li><label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label></li>
          <li><label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label></li>
          <li><label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label></li>
        </ul>
      </fieldset>
    </div>
  </div>
  <div id="atoms-radio-buttons" class="sg-pattern">
    <h2 class="sg-pattern-head">Radio Buttons</h2>
    <div class="sg-pattern-body">
      <fieldset>
        <ul class="optionlist">
          <li><label for="radio1"><input id="radio1" name="radio" type="radio" checked="checked"> Choice A</label></li>
          <li><label for="radio2"><input id="radio2" name="radio" type="radio"> Choice B</label></li>
          <li><label for="radio3"><input id="radio3" name="radio" type="radio"> Choice C</label></li>
        </ul>
      </fieldset>
    </div>
  </div>
  <div id="atoms-html5-inputs" class="sg-pattern">
    <h2 class="sg-pattern-head">HTML5 Inputs</h2>
    <div class="sg-pattern-body">
      <fieldset>
        <div>
          <label for="ic">Color Input</label>
          <input type="color" id="ic" value="#000000">
        </div>
        <div>
          <label for="in">Number Input</label>
          <input type="number" id="in" min="0" max="10" value="5">
        </div>
        <div>
          <label for="ir">Range Input</label>
          <input type="range" id="ir" value="10">
        </div>
        <div>
          <label for="idd">Date Input</label>
          <input id="idd" type="date" value="2010-01-01">
        </div>
        <div>
          <label for="idm">Month Input</label>
          <input id="idm" type="month" value="2010-01">
        </div>
        <div>
          <label for="idw">Week Input</label>
          <input id="idw" type="week" value="2010-W01">
        </div>
        <div>
          <label for="idt">Datetime input</label>
          <input id="idt" type="datetime" id="idtl" value="2010-01-01T00:00:00Z">
        </div>
        <div>
          <label for="idtl">Datetime-local input</label>
          <input id="idtl" type="datetime-local" id="idtl" value="2010-01-01T00:00">
        </div>
      </fieldset>
    </div>
  </div>
</div>