<header>
    <ul>
      <li><a href="#">global</a></li>
      <li><a href="#"><em>TERA</em></a></li>
      <li><a href="#"><em>ZMR</em></a></li>
    </ul>
  </header>
  <div id="sg-wrapper">
    <div id="sg-container">
      <iframe id="sg-viewport" sandbox="allow-same-origin allow-scripts"
      src="/atoms"
      ></iframe>
    </div>
  </div>